
body .container{
    background-color: white;
    margin-left:0%;
}

body .jumbotron{
  background-image: linear-gradient(to right, purple, deeppink);
  margin-left:0%;
  height:300px;
}

body .box1{
  border:0.5px solid grey;
  padding: 98px;
  background-color:lightgrey;
  width:20%;
  float:left;
  margin-top:-100px;
  margin-left:28px;
}
body .jumbotron2{
  background-color: white;
  margin-left:25%;
  height:50px;
  margin-top:-15px;
}
body .container2{
  clear:both;
  margin-left:12px;
}

nav{
margin-top:8px;
   }
body .box2{
  background-color: lightgrey;
  border:1px lightgrey;
  height:50px;
  margin:20px;
  height: 200px;
  border:1px solid black;
  margin-left:0px;
}

@media only screen and (max-width:768px)
{
    .abc{ 
        display:inline-block;
        width:100%;
        }
}

